@charset "UTF-8";
@import "./vars";

@font-face{
  font-family: 'imbplex';
  src: url(../font/ibmplexmono.ttf);
}

.van-toast{
  width: unset !important;
  z-index: 999999 !important;
}

.van-cell__title.van-field__label{
  width: 9.2em;
}
