@charset "UTF-8";
@import "./vars";

@font-face{
  font-family: 'imbplex';
  src: url(../font/ibmplexmono.ttf);
}

.van-toast{
  width: unset !important;
  z-index: 999999 !important;
}

.van-cell__title.van-field__label{
  width: 9.2em;
}

//步骤条
.van-steps{
  overflow: visible !important;
}
.van-step--horizontal .van-step__circle-container{
  background-color: transparent !important;
}

.van-step__line{
  background-color: #d4d4d4;
  height: 4px !important;
}
.van-step--finish .van-step__circle, .van-step--finish .van-step__line {
  background-color: #FEDF72;
  height: 4px;
}
.van-step__circle{
  width: 10px !important;
  height: 10px !important;
  position: relative;
  top: 2px;
}
.van-step__icon--active{
  top: 2px;
}

.van-step--horizontal .van-step__title {
  position: relative;
  top: 45px;
}
.van-steps--horizontal .van-steps__items{
  padding-bottom: 1.6rem;
}
.van-step--finish{
  color: #fff;
}
.van-step__title{
  color: #fff;
}






.w{
  width: 344px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 12px;
}

.page-bg{
  width: 100vw;
  min-height: calc(100vh - 55px);
  background: url(~assets/img/bg.png) no-repeat;
  background-size: 100vw auto;
  background-position: top center;
}


.page-navbar{
  text-align: center;
  color: #fff;
  line-height: 49px;
  font-size: 16px;
}


.common-navbar{

  .van-nav-bar__title{
    color: #fff;
  }
  .van-nav-bar__content{
    background: url(~assets/img/navbar.png) no-repeat;
    background-size: 100vw 46px;
  }

  .van-nav-bar .van-icon{
    color: #fff;
  }

  .van-nav-bar__text{
    color: #fff;
  }
}


.van-goods-action-button--danger{
  background: #FCC92F;
}
